/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans     &trans  &trans  &trans    &trans    &trans                         &trans  &trans    &trans     &trans   &trans    &trans
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                          &kp Y   &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                          &kp H   &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LGUI  &mo 1   &kp SPACE    &kp RET   &mo 2   &kp BSPC  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            bindings = <
/* phantom row (у тебя нет верхнего ряда) */
&trans     &trans  &trans  &trans    &trans    &trans                         &trans  &trans    &trans     &trans   &trans    &trans

/* row 1: numbers */
&kp N1     &kp N2  &kp N3  &kp N4    &kp N5    &kp N6                          &kp N7  &kp N8    &kp N9     &kp N0   &kp MINUS &kp EQUAL

/* row 2: shifted numbers */
&kp EXCL   &kp AT  &kp HASH &kp DOLLAR &kp PRCNT &kp CARET                      &kp AMPS &kp ASTRK &kp LPAR   &kp RPAR &trans    &trans

/* row 3: "кодерский пакет" (ВАЖНО: добавили 2 центральных позиции как в default_layer) */
&kp GRAVE  &kp TILDE &kp BSLH &kp PIPE &kp LBRC &kp RBRC     &trans    &trans   &kp LBKT &kp RBKT &kp SQT    &trans   &trans    &trans

                           /* thumbs оставляем как у тебя */
                           &trans     &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            bindings = <
/* phantom row */
&trans     &trans  &trans  &trans    &trans    &trans                         &trans  &trans    &trans     &trans   &trans    &trans

/* row 1: page/home/end */
&kp ESC    &kp HOME &kp PG_UP &kp END &kp PG_DN &trans                         &trans  &kp HOME  &kp PG_DN   &kp PG_UP &kp END  &trans

/* row 2: arrows */
&trans     &trans  &trans  &trans    &trans    &trans                         &kp LEFT &kp DOWN  &kp UP      &kp RIGHT &trans   &trans

/* row 3: delete/backspace + BT (ВАЖНО: добавили 2 центральных позиции как в default_layer) */
&trans     &trans  &trans  &trans    &trans    &trans     &trans    &trans     &kp DEL  &kp BSPC  &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_CLR

                           /* thumbs оставляем как у тебя */
                           &trans     &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};